/* @Author Elijah Gabriel */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-color: rgb(62, 62, 67);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}

.brand-title {
    font-size: 2rem;
    padding: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    padding: .75rem;
    display: block;
    font-size: 1.25rem;
}

a {
    border: 1px solid rgb(33, 255, 148);
    color: rgb(33, 255, 148);
    text-decoration: none;
}

a:hover {
    transition: .4s;
    color: white;
}

/* .toggle-button {
    position: absolute;
    display: none;
    right: .25rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
} */

/* .toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: white;
} */

/* @media (max-width: 500px) {
    .navbar-links {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    .brand-title {
        font-size: 1.25rem;
    }
} */

.intro {
    padding-left: 15vw;
    text-align: left;
    animation: fadeIn 8s;
}

.intro h1 {
    font-size: 5rem;
}

.intro h2 {
    font-size: 3rem;
}

.intro h3 {
    font-size: 3rem;
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.mainbody {
    padding-bottom: 10vh;
}

.body-detail {
    font-style: italic;
    font-family: cursive;
    padding-bottom: 5vh;
    padding-left: 10vw;
}

.end-body-detail {
    text-align: right;
    font-style: italic;
    font-family: cursive;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vw;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: .75rem;
}